
@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <button class="btn btn-outline-success mb-2 mr-2" onclick="OpenCreateModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" /><circle cx="8.5" cy="7" r="4" /><line x1="20" y1="8" x2="20" y2="14" /><line x1="23" y1="11" x2="17" y2="11" /></svg>
                </button>
                @*<button class="btn btn-danger mb-2 mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-x"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" /><circle cx="8.5" cy="7" r="4" /><line x1="18" y1="8" x2="23" y2="13" /><line x1="23" y1="8" x2="18" y2="13" /></svg>
                </button>*@
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <table id="table1" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>GROUP NAME</th>
                            <th>DESCRIPTION</th>
                            <th>CREATEDBY</th>
                            <th>CREATEDON</th>
                            <th>UPDATEDBY</th>
                            <th>UPDATEDON</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Group</h5>
            </div>
            <div class="modal-body">
                <h6 id="QUESTION">Are you sure going to delete group:</h6>
                <h5 id="GROUPNAME"></h5>
            </div>
            <div class="modal-footer">
                @*<button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button>*@
                <button type="button" class="btn btn-outline-danger" onclick="DELETEGROUP()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6" /><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" /></svg></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Group</h5>
            </div>
            <div class="modal-body">
                <div class="form-group mb-4">
                    <label for="GROUP_NAME">Group Name</label>
                    <input type="text" class="form-control form-control-sm" id="GROUP_NAME" placeholder="">
                </div>
                <div class="form-group mb-4">
                    <label for="GROUP_NAME">Group Description</label>
                    <input type="text" class="form-control form-control-sm" id="GROUP_DESC" placeholder="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" onclick="CREATEGROUP()">Create</button>
            </div>
        </div>
    </div>
</div>
<script>
    var VAL = "";
    $(document).ready(function () {
        GETGROUP();
    });
    function GETGROUP() {
        var URL = "@Url.Action("WEB_GET_GROUPTABLE", "MASTERDATA")";
        var table = $('#table1').DataTable({
            "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
                "<'table-responsive'tr>" +
                "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "destroy": true,
            "searching": false,
            "paging": false,
            "searching": false,
            "stripeClasses": [],
            "lengthMenu": [10, 20, 30, 40, 50, 100, 200, 500, 1000],
            "pageLength": 10,
            "filter": false,
            "ajax": {
                "url": URL,
                "type": "POST",
                "datatype": "json",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "data": function (a) {
                    return $.extend({}, a, {
                    });
                }
            },
            "columns": [
                { "data": "GROUP", "autoWidth": true, "orderable": false },
                { "data": "DESCRIPTION", "autoWidth": true, "orderable": false },
                { "data": "CREATEDBY", "autoWidth": true, "orderable": false },
                { "data": "CREATEDON", "autoWidth": true, "orderable": false },
                { "data": "UPDATEDBY", "autoWidth": true, "orderable": false },
                { "data": "UPDATEDON", "autoWidth": true, "orderable": false },
                {
                    "render": function (data, type, full, meta) {
                        VAL = "'" + full.GROUP + "'";
                        var DELETE = '<button class="btn btn-outline-danger mb-2 mr-2" onclick="OpenDeleteModal(' + VAL + ')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></svg></button >'
                        var EDIT = '<button class="btn btn-outline-warning mb-2 mr-2" onclick="OpenCreateModal()"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"/></svg> </button >'
                        return DELETE
                    }
                },
            ],
        });
    }
    function OpenDeleteModal(GROUPNAME) {
        $('#DeleteModal').modal('toggle');
        document.getElementById('GROUPNAME').innerText = GROUPNAME;
    }
    function OpenCreateModal() {
        $('#CreateModal').modal('toggle');
    }
    function DELETEGROUP() {
        var DATA = document.getElementById('GROUPNAME').innerText;

        if (DATA == 'SYSTEM-ADMIN') {
            Snackbar.show({ text: 'YOU ARE NOT ALLOWED TO DELETE ADMINISTRATOR!', pos: 'bottom-right' });
        }
        else {

        $.blockUI({
            message: "DELETING GROUP..",
            fadeIn: 500,
            overlayCSS: {
                backgroundColor: '#1b2024',
                opacity: 0.8,
                zIndex: 1200,
                cursor: 'wait'
            },
            css: {
                border: 0,
                color: '#fff',
                zIndex: 1201,
                padding: 0,
                backgroundColor: 'transparent'
            }
        });
        var table = $('#table1');
        var URL = "@Url.Action("WEB_DELETE_GROUP", "MASTERDATA")?GROUP=" + DATA;
        $.ajax({
            type: "POST",
            url: URL,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.Result == true) {
                    $.unblockUI();
                    Snackbar.show({ text: data.Message, pos: 'bottom-right' });
                    location.reload();
                }
                else {
                    $.unblockUI();
                    Snackbar.show({ text: 'DELETEGROUP() ERROR: ' + data.Message + '', pos: 'bottom-right' });
                    location.reload();
                }
            },
            error: {
                function(request, status, error) {
                    $.unblockUI();
                    Snackbar.show({ text: 'DELETEGROUP() ERROR: ' + request.responseText + '', pos: 'bottom-right' });
                }
            }
        });
        }
    }
    function CREATEGROUP() {
        var GROUPNAME = document.getElementById('GROUP_NAME').value;
        var GROUPDESC = document.getElementById('GROUP_DESC').value;

        if (GROUPNAME == "" || GROUPDESC == "") {
            Snackbar.show({ text: 'PLEASE FILL GROUP NAME AND GROUP DESCRIPTION', pos: 'bottom-right' });
        }
        else {

        $.blockUI({
            message: "CREATING GROUP..",
            fadeIn: 500,
            overlayCSS: {
                backgroundColor: '#1b2024',
                opacity: 0.8,
                zIndex: 1200,
                cursor: 'wait'
            },
            css: {
                border: 0,
                color: '#fff',
                zIndex: 1201,
                padding: 0,
                backgroundColor: 'transparent'
            }
        });
        var table = $('#table1');
        var URL = "@Url.Action("WEB_CREATE_GROUP", "MASTERDATA")?GROUPNAME=" + GROUPNAME + "&GROUPDESC=" + GROUPDESC;
        $.ajax({
            type: "POST",
            url: URL,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.Result == true) {
                    $.unblockUI();
                    Snackbar.show({ text: data.Message, pos: 'bottom-right' });
                    location.reload();
                }
                else {
                    $.unblockUI();
                    Snackbar.show({ text: 'CREATEGROUP() ERROR: ' + data.Message + '', pos: 'bottom-right' });
                    location.reload();
                }
            },
            error: {
                function(request, status, error) {
                    $.unblockUI();
                    Snackbar.show({ text: 'CREATEGROUP() ERROR: ' + request.responseText + '', pos: 'bottom-right' });
                }
            }
        });
        }

    }
</script>
