<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net48" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net48" />
  <package id="Google.Apis" version="1.54.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.54.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.54.0" targetFramework="net48" />
  <package id="Google.Apis.PeopleService.v1" version="1.54.0.2413" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net48" />
  <package id="Microsoft.ApplicationBlocks.Data" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NLog" version="4.7.10" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.10" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.10" targetFramework="net48" />
  <package id="OfficeOpenXml.Core.ExcelPackage" version="1.0.0" targetFramework="net48" />
  <package id="Selenium.Support" version="4.0.1" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.0.1" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="TLSharp" version="0.1.0.574" targetFramework="net48" />
  <package id="Z.Dapper.Plus" version="4.0.9" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.6" targetFramework="net48" />
</packages>